.content {

    &__row {
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px 0;
        gap: 20px;

        @media (max-width: 767px) {
            gap: 10px;
        }

        @media (max-width: 500px) {
            margin: 0;
        }
        
    }

    &__row-default {
        display: flex;
    }

    &__col {
        transition: 0.3s;
        box-shadow: 0 0 3px rgb(160, 160, 160);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        background: rgb(250, 255, 255);

        @media (max-width: 500px) {
            flex: auto;  
        }
    }

    &__col-dark {
        background: rgb(100, 120, 120);
        box-shadow: 0 0 3px white;
    }

    &__col:hover {
        transform: scale(1.01);
        
        @media (max-width: 900px) {
            transform: none;
        }
    }

    &__col-default {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    &__current {
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__forecast {
        align-items: baseline;
        gap: 5px;
     
        @media (max-width: 950px) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__col-medium {
        flex: 1 1 40%;
        // margin: 0 10px 0 0;

        @media (max-width: 500px) {
            margin: 0 0 10px 0;
        }
    }

    &__col-small {
        flex: 1 1 30%;
        // margin: 0 0 0 10px;

        @media (max-width: 500px) {
            margin: 0 0 10px 0;
        }
    }

    // &__col-small div {
    //     display: flex;
    //     align-items: center;
    // }

    &__col-small ul li {
        font-weight: 500;
        font-size: 16;
        margin: 5px;
        color: darkslategrey;
        display: flex;
        justify-content: space-between;   
    }

    &__col-small ul li div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__col-small ul li img {
        margin: 0 5px 0 0;
    }

    &__col-small ul li span {
        color: darkcyan;
        font-weight: 700;
        margin: 0 0 0 5px;
    }



    &__icon {
        max-width: 16px;
        max-height: 16px;
    }
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    img {
        max-width: 128px;
        max-height: 128px;
    }
    
}