.header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;

    &__background-white {
        background: white;
    }

    &__background-dark {
        background: rgb(0, 25, 25);
    }

    @media (max-width: 520px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__nightMode {
        margin: 0 0 0 5px;
    }

    &__nightMode span input{
        appearance: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        
    }

    &__nightMode span{
        display: inline-flex;
        width: 40px;
        height: 20px;
        border: 0px transparent;
        border-radius: 20px;
        background: lightgrey;
        box-shadow: inset 0 0 3px grey;
        position: relative;
    }

    &__nightMode span input::before{
        transition: 0.3s;
        content: '';
        width: 20px;
        height: 20px;
        background: darkslategrey;
        border-radius: 100%;
        box-shadow: 1px 1px 1px grey;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__nightMode span input:checked::before {
        transition: 0.3s;
        left: 20px;
    }

    &__language {
        transition: 0.3s;
        border: 0px transparent;
        border-radius: 5px;
        display: flex;
        margin: 0 5px 0 0;
        background: lightblue;
        color: darkslategrey;
        cursor: pointer;

        select {
            appearance: none;
            cursor: pointer;
            background: lightblue;
            color: darkslategrey;
            padding: 0 15px;
            border: 0px transparent;
            border-radius: 5px;
            font-weight: 600;
            position: relative;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        font-weight: 600;
        color: darkslategray;

        @media (max-width: 520px) {
            margin: 0 0 10px 0;
        }
    }

    &__logo-dark {
        color: white;
    }

    &__logo img {
        margin: 0 5px 0 5px;
    }

    &__search-block {
        display: flex;
        

        @media (max-width: 520px) {
            width: 100%;
        }
    }

    &__search {
        border: 1px solid lightblue;
        border-radius: 5px;
        margin: 0 5px 0 0;
        padding: 10px;

        @media (max-width: 520px) {
            width: 100%;
        }
    }

    &__search:focus {
        border: 1px solid lightseagreen;
    }

    &__search-btn {
        transition: 0.3s;
        background: lightblue;
        font-weight: 600;
        padding: 5px;
        color: darkslategrey;
        border: 0px transparent;
        border-radius: 5px;
    }

    &__search-btn:hover {
        background: darkcyan;
        color: white;
    }
}