@import "ol/ol.css";

// html,
// body {
//   margin: 0;
//   height: 100%;
// }

// #map {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 100%;
// }

.map {

  &__settings {
    margin: 10px 0 10px 0;
    padding: 10px;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    box-shadow: 0 0 3px rgb(160, 160, 160);
    border-radius: 10px;
    overflow: hidden;
  }

  &__main {
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 3px rgb(160, 160, 160);
    border-radius: 10px;
    overflow: hidden;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    
  }

  &__list {
    
    // border: 1px solid black;
    display: flex;

    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: lightblue;
    overflow: hidden;
   
    select {
      appearance: none;
      width: 100%;
      height: 100%;
      background: lightblue;
      color: darkslategrey;
      padding: 5px;
    }
  }
  
}
