.weatherBlock {
    &__block {
        transition: 0.3s;
        background: rgb(250, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 0px transparent;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 2px 2px 2px rgb(230, 235, 235);
        width: 100%;
        margin: 0 5px 0 0px;
    
        @media (max-width: 900px) {
            margin: 0 0 10px 0;
            padding: 10px 5px;
        }
        
    }

    &__block:last-child {
        margin: 0;
    }

    &__block:hover {
        transition: 0.3s;
        transform: scale(1.05);
        outline: 1px solid lightblue;
    }

    &__description {
        color: darkslategray;
        font-weight: 500;
        text-align: center;
        min-height: 28px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        color: darkslategrey;
    }

    &__content {
        display: flex;
        flex-direction: column;
        // height: 100%;
        justify-content: center;
        

        // @media (max-width: 900px) {
        //     padding: 0px 20px;
        // }
    }

    &__shortList {
        // width: 100%;
    }

    &__fullList {
        // width: 100%;
    }

    &__shortList li {
        margin: 10px;
        font-size: 14px;
        color: darkslategrey;
        display: flex;
        justify-content: space-between;

        span {
            color: darkcyan;
            font-weight: 500;
            margin: 0 0 0 5px;
        }
    }

    &__fullList li{
        margin: 10px;
        font-size: 14px;
        color: darkslategrey;
        display: flex;
        justify-content: space-between;

        span {
            color: darkcyan;
            font-weight: 500;
            margin: 0 0 0 5px;
        }
    }

    &__fullList li {
        margin-top: 0;
    }

    &__btn {
        transition: 0.3s;
        width: 100%;
        background: lightblue;
        color: darkslategrey;
        font-weight: 500;
        padding: 5px;
        border: 0px transparent;
        border-radius: 5px;
        font-size: 14px;
    }

    &__btn:hover {
        transition: 0.3s;
        background: darkcyan;
        color: white
    }

    &__date {
        text-align: center;
        width: 100%;
        color: darkslategrey;
        font-weight: 500;
        margin: 0 0 20px 0;
        font-size: 16px;
        background: lightblue;
        padding: 5px;
        border: 0px transparent;
        border-radius: 5px;
    }
}

.hideList {
    display: none;
}