.weatherBlock {
    
    &__block {
        transition: 0.3s;
        background: rgb(250, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 0 3px rgb(160, 160, 160);
        width: 100%;
    
        @media (max-width: 950px) {
            padding: 10px 5px;
        }
        
    }

    &__block-dark {
        background: rgb(100, 120, 120);
        box-shadow: 0 0 3px rgb(160, 160, 160);
    }

    &__block:hover {
        transform: scale(1.05);
        @media (max-width: 900px) {
            transform: none;
        }
    }

    &__description {
        color: darkslategray;
        font-weight: 500;
        text-align: center;
        min-height: 28px;
    }

    &__description-dark {
        color: white;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        color: darkslategrey;
    }

    &__title-dark {
        color: white;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content-dark ul li {
        color: white;

        span {
            color: lightblue;
        }
    }

    &__shortList li {
        margin: 10px;
        font-size: 14px;
        color: darkslategrey;
        display: flex;
        justify-content: space-between;
        gap: 5px;

        span {
            color: darkcyan;
            font-weight: 500;
        }
    }

    &__fullList li{
        margin: 0 10px 10px 10px;
        font-size: 14px;
        color: darkslategrey;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        
        span {
            color: darkcyan;
            font-weight: 500;
        }
    }

    &__btn {
        transition: 0.3s;
        width: 100%;
        background: lightblue;
        color: darkslategrey;
        font-weight: 500;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
    }

    &__btn:hover {
        background: darkslategrey;
        color: white
    }

    &__date {
        text-align: center;
        width: 100%;
        color: darkslategrey;
        font-weight: 500;
        margin: 0 0 20px 0;
        font-size: 16px;
        background: lightblue;
        padding: 5px;
        border-radius: 5px;
    }
}

.hideList {
    display: none;
}